body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  position: relative;
  background: url(https://cdn.wallpapersafari.com/30/50/MZbz3e.jpg) center center;
  background-size: cover;
  height: 100vh;
}

.hero:before {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7)
}

.hero h1 {
  display: flex;
  font-weight: bold;
  z-index: 10;
  color: whitesmoke;
  justify-content: center;
  padding-top: 5em;
}

/* #myWorkBtn {
  z-index: 10;
  justify-content: center;
  position: absolute;
  top: 90vh;
  left: 45%;
} */

.projectSlideShow {
  background: linear-gradient(#0A1B28, #444B4B);
}

.project-picture {
  display: block;
  width: 100%;
  height: 58vh;
  size: 30vmax, 30vmax;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.project-picture:hover {
  opacity: 0.6;
}

.navIcon {
  height: 25px;
}

